<form action="/names/create" method="post">
  <div>
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <input type="submit" value="Create Name">
  </div>
</form>