<% content_for :title do %>
  Create New
<% end %>

<div class="d-flex p-4 flex-column">
  <a href="/departments">Back</a>
  <form action="/departments/create" method="post">
    <div>
      <label for="abbreviation">Abbreviation</label><br>
      <input type="text" name="abbreviation" id="abbreviation">
    </div>
    <div>
      <label for="name">Name</label><br>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="description">Description</label><br>
      <textarea name="description" id="description"></textarea>
    </div>
    <div>
      <input type="submit" class="btn btn-success" value="Create Department">
    </div>
  </form>
</div>